{erl_opts, [debug_info]}.
{eunit_opts, [{dir, "test"}]}.

{profiles, [
    {prod, [
      {relx, [
        {sys_config, "config/prod.config"},
        {dev_mode, false},
        {include_erts, true}
      ]}
    ]},
    {dev, [
      {shell, [{config, "config/dev.config"}]}
    ]},
    {test, [
      {shell, [{config, "config/test.config"}]}
    ]}
]}.

{deps, [
    {cowboy, {git, "git@github.com:ninenines/cowboy.git", {tag, "2.12.0"}}},
    {cowlib, {git, "git@github.com:ninenines/cowlib.git", {tag, "2.13.0"}}}
]}.

{shell, [
    {apps, [job_processor]},
    {config, "config/dev.config"}
]}.

{relx, [
    {release, {job_processor_release, "0.1.0"}, [job_processor, sasl]},
    {sys_config, "config/prod.config"},
    {dev_mode, true},
    {include_erts, false}
]}.

{minimum_otp_vsn, "27.0"}.